@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#wrap {
	position: relative;
	
	height: auto;
	margin: 0 auto;
}

.magnifier {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25);
	display: none;
}

.target {
	display: block;
	width: 100%;
	height: 700px;
}