	.myinfo {
	font-size: 24px;
	border-right : 1px solid #e8faff;
	}
	.myinfo>* {
	font-size: 18px;
	}
	.myinfoitem {
	font-size: 18px;
	width:100%;
	text-align : left;
	
	}
	.myinfo a {
	font-size : 14px;
	}
	td {
	padding-bottom : 20px;
	}
	table {
	margin : 0;
	padding-bottom : 10px;
	padding-left : 30px;
	}
	.drop {
	background-color : #00AAFF;
	color: #fff;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	min-width: 50px;
	height:50px;
	}

    .pagesection {
    margin: 20px;
	padding-right: 20px;
	}
	.membercheck {
	width : 160px;
	font-size : 16px;
	font-weight: normal;
	border-radius: 3px;
		border: 1px solid #00AAFF;
	}
	.checkpwd {
	height : auto;
	widhth : auto;
	font-size : 16px;
	padding-left : 0px;
	border-right : 0px;
	font-weight: normal;
	}
	#resultp {
	color : #00aaff;
	margin-top : 20px;
	}
	
	#mypagecontents{
	padding-top:30px;
	}