.order_list {
	padding: 20px 0 0 0px;
}

.order_list ul li:first-child {
	padding-top: 0;
}

.order_list ul li {
	position: relative
}

.order_list ul li .order_top {
	margin-bottom: 8px;
}

.order_list ul li [class^='order_'] {
	position: relative;
	padding-left: 2px;
	margin-left: 20px;
}

.order_list ul li .order_top .date {
	margin-left: 4px;
	color: #111;
	font-size: 14px;
}

.order_list ul li .order_top span {
	display: inline-block;
}

.order_list ul li .order_top .detail {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #888888;
	font-size: 13pxx;
}

.order_list ul li .order_top .type {
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #238ece;
	font-size: 13px;
	color: #238ece;
}

.order_list ul li .order_center {
	padding: 20px 22px 20px 2px;
	border-top: 1px solid #111;
}

.order_list ul li .order_center .info .item_name {
	padding-bottom: 22px;
	font-size: 21px;
	color: #111;
	font-weight: 600;
	line-height: 27px;
}

.order_list ul li .order_center .info .item_name .price {
	display: block;
	padding-top: 10px;
	font-size: 18px;
}