th, td {
	padding: 11px 0px 5px !important;
}

.required em:after {
	content: "*";
	color: red;
}

.code {
	position:relative;
	padding-right:80px;
}

.bt {
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	height: 35px;
	border-radius: 2px;
	text-align: center;
	padding: 0px 11px;
	background-color: rgba(0,0,0,0.05);
	font-size: 13px;
	color: #fff;
	line-height: 35px;
}

.inp_phone li:first-child:before {
	width: 0px !important;
	height: 0px !important;
	margin-left: 0px !important;
	content: "" !important;
}

.inp_phone li:before {
	float: left;
	content: "-";
	margin-left: -10px;
	width: 10px;
	height: 32px;
	text-align: center;
	line-height: 32px;
}

.inp_phone li {
	display: table-cell;
	padding-left: 10px !important;
}

.order_title {
	margin: 6px 0 -1px;
	display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}

.order_title a {
    display: block;
    position: relative;
    padding: 0 38px 0 13px;
    border: 1px solid #d5dbe0;
    border-bottom-color: #e8e9ea;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0,0,0,0.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    font-size: 17px;
    color: #222;
    line-height: 50px;
    cursor:pointer;
}

.order_list, .order_addr {
	border: 1px solid #d5dbe0;
	border-radius: 0 0 3px 3px;
	background-color: #fff;
	text-align: left;
}

.ord_inr {
	overflow: hidden;
    padding: 0;
    clear: both;
}

.ord_tabm {
	overflow: hidden;
    position: relative;
    width: 100%;
}

.order_item {
	overflow: hidden;
    padding: 0;
    clear: both;
}

.order_plst {
	border-top: 1px solid #f1f3f5;
}

.order_plst li {
	position: relative;
    margin: 0 13px;
}

.order_pdt {
	display: -webkit-box;
    position: relative;
    min-height: 73px;
    padding: 17px 0 17px 85px;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

.order_pdt .thumb {
	display: block;
    overflow: hidden;
    position: absolute;
    top: 17px;
    left: 0;
    width: 70px;
    height: 70px;
    border: 1px solid #e2e6e9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.order_pdt .thumb img {
	position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.order_pdt dt {
	margin-bottom: 7px;
	overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order_pdt dt a {
	font-size: 16px;
    color: #252525;
}

.order_pdt .sum {
    margin-top: 8px;
    font-size: 15px;
    color: #1088ed;
}

.order_pdt .sum em {
	display: inline-block;
    font-size: 19px;
    font-family: HelveticaNeue-Regular,Helvetica,AppleSDGothicNeo-Medium,'나눔고딕',nanumgothic,sans-serif;
    vertical-align: top;
}

.multiple_area {
	padding: 16px 12px 15px;
    border-top: 1px solid #d5dbe0;
}

.multiple_area .total_price {
	margin-top: 14px;
	padding: 0 0 0 100px;
    border: 0;
    color: #424242;
    font-size: 16px;
    line-height: 22px;
}

.total_price {
	position: relative;
    padding: 8px 12px 7px 110px;
    color: #00c73c;
    font-size: 15px;
    line-height: 35px;
    background-color: #fff;
    border-top: 1px solid #d5dbe0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.total_price .title {
	position: absolute;
	left: 0;
    top: 0;
    font-weight: 500;
}

.total_price .area {
	font-size: 0;
    text-align: right;
}

.total_price .area .sum{
	font-size: 15px;
	display: inline-block;
    vertical-align: top;
    text-align: right;
}

.point_navercolor {
	color:#03c75a;
}
.total_price p, .payment_tot .information{
	margin-bottom: 0 !important;
	line-height: 22px;
}

.payment_list {
	margin: 2px 13px 0;
    letter-spacing: -0.5px;
}

.payment_list .payment {
	position: relative;
	border-top: 1px solid #efefef;
}

.payment_tot {
	padding: 9px 0px 9px 150px;
    border-top: 1px solid #e9f0f5;
    background-color: #f7fcff;
    font-size: 16px;
    color: #1088ed;
    position: relative;
}

.payment_tot .title {
	top: 9px;
	position: absolute;
    left: 0;
    font-weight: normal;
}

.payment_tot .information {
	font-size: 17px;
	text-align: right;
	color: #1088ed;
}

.summary { 			
	display: block;
    overflow: hidden;
    position: absolute;
    top: 16px;
    right: 38px;
    left: 135px;
    font-family: HelveticaNeue-Medium,Helvetica,AppleSDGothicNeo-Regular,'나눔고딕',nanumgothic,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #03c75a;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -0.5px; 
}
